# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/speeder-jpa-maven-plugin/target
/speeder-jpa-nbm/target
/speeder-jpa-data-model/target
/speeder-jpa-integration/target
/speeder-jpa-persistence/target
/speeder-jpa-generator-spi/target
/speeder-jpa-provider-persistence/target
/speeder-jpa-provider-script-sqlserver/target
/speeder-jpa-provider-integration/target
/speeder-jpa-provider-script-derby/target
/speeder-jpa-provider-script-mysql/target
/speeder-jpa-provider-script-postgresql/target
/speeder-jpa-provider-tpl-freemarker/target
/target/
